body{
	background: #d2d2c1 url('../imgs/fundo.png');
	font: 16px Arial, Helevetica, sans-serif;
}

#principal{
	width: 900px;
	margin-left: auto;
   margin-right: auto;
}

#menu{
	background: #c5c5b2;
	padding: 5px;
	text-align: center;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;
}

h1{
	color:#828271;
	font-size: 1.2em;
}

.img-campanha{
	border: 10px solid #c3c3ae;
}

#rodape{
	text-align: center;
}


